.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
}

.galleryItem {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  position: relative;
}

.image {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.editAction {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.editAction:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.editAction:hover .editIcon {
  display: block;
}

.editIcon {
  display: none;
}

@media screen and (max-width: 1240px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
