.header {
  height: 75px;
  width: 100%;
  background-color: #c6e7c4;
  display: flex;
  align-items: center;
  padding: 0 40px;
  gap: 6px;
  z-index: 1;
  position: relative;
  box-shadow: 1px 1px 5px 2px rgba(146, 147, 201, 0.25);
}

.link {
  text-decoration: none;
}

.header h2 {
  font-size: 42px;
  font-weight: 500;
}

.highlight {
  color: #904748;
}

.pageName {
  display: flex;
  align-items: flex-end;
  height: 45px;
  font-weight: 500;
  font-size: 24px;
}
